.cell{
    width:70px;
    height:70px;
    color: purple;
    /* border:2px white solid; */
    
}
.board{
    width:560px;
    height:560px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid rgb(161, 40, 81);
}